.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0087ff69;
  /* padding: 8px 10px; */
}

.logo {
  color: rgb(0, 0, 0);
  /* font-size: 1.5rem; */
  border-radius: 5px;
  border: none;
  outline: none;
  width: 260px;
  height: 30px;
  margin: 5px;
  background-color: #ffffff;
  /* font-weight: bold; */
 
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  transition: color 0.8s ease;
}
.nav-links a:hover {
  text-decoration: none;
  color: black;
  /* //font-size: 1.5rem; */
}

.mobile-menu-icon {
  display: none;
  font-size: 1.5rem;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-links-mobile {
  display: none;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
  }

  .nav-links-mobile li {
    margin: 10px 0;
  }

  .mobile-menu-icon {
    display: block;
  }

}

.search-container {
  position: relative;
  display: inline-block;
}

.inputstyle.logo {
  padding-left: 35px; /* space for the icon */
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  pointer-events: none;
}