.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(to right, #6a11cb, #2575fc); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.336), rgba(255, 172, 172, 0.5)), url('./image.png');
    color: white;
    text-align: center;
    background-size: cover;
    
    background-position: center;    
    background-repeat: no-repeat;
    
}

.hero-section {

    max-width: 600px;
}

.hero-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    line-height: 1.5;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #ff6f61;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #ff3b2f;
}